<h2> Editar usuario </h2>

<%= form_for @staff, :url => {:action => "update"}  do |f| %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :names %>
  </div>
  <div class="field">
    <%= f.label :contraseña %>
    <input type="password" placeholder="<NUEVA CONTRASEÑA" %>
  </div>
  <div class="field">
    <%= f.label :apellido_paterno %>
    <%= f.text_field :first_surname %>
  </div>  

  <div class="field">
    <%= f.label :apellido_materno %>
    <%= f.text_field :second_surname %>
  </div>   
  <div class="actions">
    <%= f.submit "Actualizar usuario" %>
  </div>
<% end %>
