<h2> Modificacion de usuario </h2>

<table class="table"> 
<thead>
	<tr>
		<th>Nombre</th>
		<th>Email</th>
		<th>Apellido Paterno </th>
		<th>Apellido Materno </th>
		<th colspan="1"></th>
	</tr>
</thead>
<tbody>
	<%@staffs.each do |staff| %>
		<tr>
			<td><%= staff.names %></td>
			<td><%= staff.email %></td>
			<td><%= staff.first_surname %></td>
			<td><%= staff.second_surname %></td>
			<td><%= link_to 'Editar', edit_staff_path(staff)%></td>
		</tr>
	<% end %>
</tbody>
</table>